:root {
    background-color:#DDC7A0;
    font-size: 60%;
}
*{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;

}
.container>h1,.btn{
    width: 60vh;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width:80rem ;
    margin: 90px auto;
    padding: 4rem;

}

.btn,.button{
    margin-bottom:1rem;
    font-size: 2.8rem;
    width: 30rem;
    text-align: center;
    border: 0.1rem;
    background-color: #DDB083;
    text-decoration: none;
    color: black;
    padding: 1rem 0;

}
.btn:hover{
    cursor: pointer;
    box-shadow: none;
    transform: translateY(-0.1rem);
}

h1{
    margin-bottom: 5px;
}
h1{
    font-size: 5.4rem;
    color: black;
    margin-bottom: 5rem;
    background:#DDB083;
    padding: 40px;
    margin-top: -600px;
    
}
.section{
    background-color: white;
    font-size: 16px;
    padding: 1rem;
}
