.choices{
    display: flex;
    margin-bottom: 0.4rem;
    width: 50px;
    font-size: 1.9rem;
    border: 0.1rem solid white;
    background-color: rgba(236, 175, 96, 0.911);
}
.choices:hover{
    cursor: pointer;
    box-shadow: none;
    transform: translateY(-0.1rem);
}
.choice-prefix{
    padding: 1.5rem 2.5rem;
    color: white;
}
.choice-text{
    padding: 1.7rem;
    width: 100px;
}